<!--!!!!!!!!!!!!!!!!!!!!!!!!This page shows on the rest of pages. There were main page with navbar!!!!!!!!!!!!!!!!!!!!!!!-->
<!--  <a class="button"-->
<!--     routerLink="rest/login"-->
<!--     routerLinkActive="activebutton"-->
<!--     ariaCurrentWhenActive="page">-->
<!--    Login-->
<!--  </a> |-->
<!--  <a class="button"-->
<!--     routerLink="rest/registration"-->
<!--     routerLinkActive="activebutton"-->
<!--     ariaCurrentWhenActive="page">-->
<!--    Registration-->
<!--  </a>-->
<a href="rest/login">Login</a>
<p>helllllllllpppp</p>
<a href="rest/hello">Hello</a>
<router-outlet></router-outlet>
